.colouredRow
{
  background:#fafafa;
}

.age
{
  text-align: right;
  color: blue;
  /* text-decoration:blink; */ /* for fun */
  font-weight:bold;
}

.commentary
{
    font-weight:normal;
    font-style: italic;
}